@{
    ViewData["Title"] = "SaveImage";
}

<form asp-controller="Home" asp-action="SaveImage" method="post" enctype="multipart/form-data">

    <input type="file" name="formFile" />
    <button type="submit">Resim Ekle</button>

</form>

